<ion-header>
  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle *ngIf="fromHome">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>
  <jh-nav-pending></jh-nav-pending>
</ion-header>
<ion-content>
    <div class="logo-wrapper">
      <img src="assets/imgs/jh-blue.png" />
    </div> 
    <div class="card">
      <div class="info">      
        TBD
      </div>
      <section *ngIf="!fromHome">
        <button class="primary" mat-button (click)="agree()">Accept</button>
        <button mat-button (click)="decline()">Decline</button>
      </section>
    </div> 
  
  </ion-content>
  