datetime-picker {
  position:relative;
  margin-left: 38px;
  display:block;
  mat-label {
    font-size:11px;
    color: rgba(0,0,0,0.54);
  }
  button {
    display:block!important;
    margin-bottom: 16px!important;
    padding:0!important;
    margin: 16px;
    text-align: left!important;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.42)!important;
    mat-icon {
      float: right;
      color: rgba(0,0,0,0.54);
    }
  }
  .prefix {
    top: 27px;
  } 
}