<ion-menu [content]="content">
  <ion-content>
    <div name="sidenav-profile">
      <img src="assets/imgs/default_profile.png" />
      <span>
        Ed Montalbano
        <small>eddie.montalbano@gmail.com</small>
      </span>
    </div>

    <button *ngIf="isCheckedIn !== 'true'" (click)="openPage('patients')"><mat-icon>people</mat-icon><span>CLIENTS</span></button>
    
    <button *ngIf="isCheckedIn !== 'true'" (click)="openPage('settings')"><mat-icon>settings</mat-icon><span>SETTINGS</span></button>

    <button *ngIf="isCheckedIn !== 'true'" (click)="openPage('terms')"><mat-icon>done</mat-icon><span>TERMS & CONDITIONS</span></button>

    <button *ngIf="isCheckedIn === 'true'" disabled='disabled'><mat-icon>people</mat-icon><span>CLIENTS</span></button>
    
    <button *ngIf="isCheckedIn === 'true'" disabled='disabled'><mat-icon>settings</mat-icon><span>SETTINGS</span></button>

    <button *ngIf="isCheckedIn === 'true'" disabled='disabled'><mat-icon>done</mat-icon><span>TERMS & CONDITIONS</span></button>

    <button mat-button (click)="logout()">LOGOUT</button>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

