<ion-header>
    <ion-navbar color="primary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>View Invoice</ion-title>
    </ion-navbar>
    <jh-nav-pending></jh-nav-pending>
  </ion-header>
  <ion-content *ngIf="meta | async as meta$" [ngClass]="(meta$.pending) ? 'loading' :  'standard'">
    <div class="standardView" *ngIf="!hasInvoices">
        <div class="customer">
            <span>Customer</span>
            <div>{{ contact.associated_policy__r.insured__r.name }}  </div>
          </div>
          <mat-card>
            <mat-card-content>
              <h4 style="text-align: center; padding: 7rem 0 9rem; color: rgba(0,0,0,0.54)">No time entries to show</h4>
              <div class="actionButtons" *ngIf="invoice.ltc_app_invoice_status__c === 'Not Submitted'">
                <button mat-button class="left">Add New Timesheet</button>
                <button mat-button class="right" (click)="submitInvoice()">Next</button>
              </div>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="standardView invoiceHistory" *ngIf="hasInvoices">
      <div class="customer">
        <span>Customer</span>
        <div>{{ contact.associated_policy__r.insured__r.name }}  </div>
      </div>
      <mat-card>
        <mat-card-title style="margin-top: -16px">
            <span style="font-size: 14px;">Invoice Status</span>
            <h6>{{ invoice.ltc_app_invoice_status__c }}</h6>
          </mat-card-title>
        <mat-card-content>
            <mat-table #table [dataSource]="invoice_ds">
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <div *ngIf="item.ltc_check_out_datetime__c !== null" class="flex" (click)="editTimeEntry(item)">
                      <mat-icon>{{ item.ltc_check_out_type__c === 'Location On' ? 'location_on' : item.ltc_check_out_type__c === 'Location Off' ? 'location_off' : 'edit' }}</mat-icon>
                      <div>
                        {{ item.ltc_check_in_datetime__c | date: 'shortDate'}}
                        <span class="subtext">{{ item.ltc_check_in_datetime__c | date: 'shortTime' }} &ndash; {{ item.checkout  | date: 'shortTime' }}</span>
                      </div>
                    </div>
                    <div *ngIf="item.ltc_check_out_datetime__c === null" class="flex" (click)="editTimeEntry(item)">
                        <mat-icon>location_ff</mat-icon>
                        <div>
                          {{ item.ltc_check_in_datetime__c | date: 'shortTime' }}
                          <span class="subtext">{{ item.ltc_check_in_datetime__c | date: 'shortDate'}}</span>
                        </div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="billing">
                  <mat-header-cell *matHeaderCellDef>Billed</mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span *ngIf="item.ltc_check_out_datetime__c !== null" (click)="editTimeEntry(item)">

                        ${{ item.ltc_check_in_datetime__c | rateFormat:item.ltc_check_out_datetime__c:item.ltc_hourly_rate__c }}
                        <span class="subtext">{{ item.ltc_number_of_hours__c | timeEst:2 }} &times; ${{ item.ltc_hourly_rate__c | currencyFilter }}</span>
                      </span>
                      <div *ngIf="item.ltc_check_out_datetime__c === null" class="flex right" (click)="editTimeEntry(item)">
                        <div *ngIf="endTime | async as $endTime">
                            {{ item.ltc_check_in_datetime__c | timeEst:$endTime }}
                        </div>
                      </div></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <hr />
              <div class="totalCharges">
                <div>Total Charges</div>
                ${{ invoice.ltc_total_charges__c }}
              </div>

              <div class="actionButtons" *ngIf="invoice.ltc_app_invoice_status__c === 'Not Submitted'">
                <button mat-button class="left">Add New Timesheet</button>
                <button mat-button class="right" (click)="submitInvoice()">Next</button>
              </div>

        </mat-card-content>
      </mat-card>
    </div>
  </ion-content>